<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About Us </title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href={% static  "img/Topa.png"%}>

        <link rel="stylesheet" href= {% static "css/home.css" %}>
        <link rel="stylesheet" href= {% static "css/about1.css" %}>
    </head>
    <body>
        <nav class="navbar"></nav>
<article class="cta">
	<img src={% static 'img/3.jpg' %} alt=''>
	<div class="cta__text-column">
		<h2>ABOUT TŌPA</h2>
		<p>TŌPA is an ethically operated clothing brand founded by Nikita Deuja, born and brought up in Kathmandu, Nepal. Ms Deuja moved to New York in Aug 2018 to study fashion design at the Fashion Institute of Technology (FIT). While at FIT, she was recognized amongst all the junior fashion design students all over the USA and awarded Liz Claiborne Design for Impactful Futures Scholar Award 2021 by the Council of Fashion Designers of America (CFDA). After graduating in May 2022 with BFA in fashion design and a minor in art history, 21 years old Nikita established TŌPA to promote sustainable, ethical, and transparent values in the fashion industry.</p>
		<p>Coming from a developing country, Nikita got to closely see the unethical acts accepted in the fashion industry. TŌPA is established to remove these exploitations and promote a culture where every stakeholder is treated and compensated fairly. All of TŌPA’s garments are stitched in TŌPA’s own production facility where we provide a safe and comfortable working environment along with a remuneration policy that exceeds government-set rates. Additionally, TŌPA only uses deadstock fabrics which compels us to produce innovative designs.</p>
	</div>
</article>
<footer></footer>
<script src={% static "js/nav.js" %}></script>
<script src={% static "js/footer.js" %}></script>
    </body>
</html>