<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="format-detection" content="telephone=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> TOPA </title>
        {% load static %}
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"><link rel="icon" type="image/x-icon" href="{% static 'img/Topa.png' %}">
        <link rel="stylesheet" href= {% static 'css/home.css' %} >
        <link rel="stylesheet" href= {% static 'css/popup.css' %} >
    </head>
    <body>
        <nav class="navbar"></nav>
        <!-- hero section -->
        <header class="hero-section">
            <div class="content">
                <img src="static/img/b&w.jpg" width="100%" alt="">
                <div class="text-overlay">
                    <img src="static/img/Topa 1.png" alt="">
                    <h1> Best Collection for You & Your Loved Ones </h1>
    
                </div>
    
            </div>
    
        </header>
        <div class="modal__overlay"></div>
        <div class="modal">
          <div class="modal__close-btn">
            <i class="fa fa-window-close" style="font-size:30px;color:rgb(255, 255, 255);"></i>
        </div>
        <div class="modal__right">
            <p class="modal__text">
            <br/>
            You'll have the first look at our new collection, exclusive releases, promos, and brand updates
            </p>
            <div class="flex space-x-4 mt-4">
                <label for="email" class="font-bold md:text-xl text-sm" style="font-size: 20px;color: white;">Email:</label>
                <input type="email" placeholder="Email" class=" md:w-72 lg:w-96 rounded-xl p-2  w-20" size="20px" style="height: 30px;">
            </div>
            <a class="modal__button" style="margin-top:50px;">Subscribe</a>
        </div>
        </div>

        <div class="external">
            <div class="horizontal-scroll-wrapper">
                <!-- Card 1 -->
                <div class="img-wrapper slower">
                    <a href="collection-link-1" target="_blank" rel="noopener">
                        <div class="card">
                            <img src="static/img/1 (10).jpg" alt="Summer Collection 1">

                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="img-wrapper slower">
                    <a href="collection-link-2" target="_blank" rel="noopener">
                        <div class="card">
                            <img src="static/img/1 (5).jpg" alt="Summer Collection 2">

                        </div>
                    </a>
                </div>
                <!-- Add more cards as needed -->
            </div>
        </div>
          

          <div class="banner">
            <div class="banner-container">

                <div class="banner-info">
                    <h3>Get the latest product drops in your inbox!<br>Sign up for our Newsletter.</h3>
                    <div class="quick-sign-up-box">
                        <input type="text" placeholder="Enter email for news" class="email-input">
                        <button class="submit-quick-sign-up">SIGN UP!</button>
                    </div>
                    <p>By registering you agree with our <a href="privacy.html">Privacy Policy</a></p>
                </div>
            </div>
        </div>

    
    <footer></footer>

    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

    </body>
</html>
