<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
        <title> About </title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href={% static  "img/Topa.png"%}>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href={% static "css/home.css" %}>
        <link rel="stylesheet" href={% static "css/learn.css" %}>

    </head>
    <body>
        <nav class="navbar"></nav>
        
        <div class="wrap animate pop">
            <div class="overlay">
                <div class="overlay-content animate slide-left delay-2">
                    <h1 class="animate slide-left pop delay-4">Sustainability</h1>
                    
                </div>
                <div class="image-content animate slide delay-5"></div>
                        <div class="dots animate">
                            <div class="dot animate slide-up delay-6"></div>
                            <div class="dot animate slide-up delay-7"></div>
                            <div class="dot animate slide-up delay-8"></div>
                        </div>
            </div>
                <div class="text">
                    <p><img class="inset" src={% static "img/fabric.png" %} alt="" />DEADSTOCK FABRICS<br>. We only use deadstock fabrics to create our collection. Nepal is geographically close to India, China, and Bangladesh, which are among the largest garment producers in the world and the deadstock fabrics of these countries are often passed on to the Nepali market. We utilize these fabrics to produce our designs.<br><br>
                        <b>CLEAN, RENEWABLE ENERGY</b><br> As TŌPA’s manufacturing unit is in Kathmandu, Nepal, our source of electricity is hydropower energy. All of our machines are operated on clean and renewable energy. <br><br>
                        <b>LEAN PRODUCTION</b><br>For every collection, TŌPA produces only a limited number of pieces per design. A lean production model ensures high quality is maintained and excessive number of garments are not produced.<br><br>
                        <b>SUSTAINABLE PACKAGING</b><br> All of TŌPA’s packaging materials are made from bio-degradable materials. Our packaging envelope is made from Lokta paper, which is handmade from the bark and bush of the lokta plant which regenerates every 4 - 5 years.
                </div>
        </div>

        <div class="wrap animate pop">
            <div class="overlay">
                <div class="overlay-content animate slide-left delay-2">
                    <h1 class="animate slide-left pop delay-4">Ethical Values</h1>
                    
                </div>
                <div class="image-content1 animate slide delay-5"></div>
                        <div class="dots animate">
                            <div class="dot animate slide-up delay-6"></div>
                            <div class="dot animate slide-up delay-7"></div>
                            <div class="dot animate slide-up delay-8"></div>
                        </div>
            </div>
                <div class="text">
                    <p><img class="inset" src={% static "img/rem.jpg" %} alt="" />Ethical Values<br>. <b>Fair Remunation for Workers</b> We pay our workers 163% more than the government-recommended minimum wage. Realizing that the minimum wage set by the government is not enough to live a healthy quality of life, we have set our own minimum wage rate for our staƋ by discussing it with them. We review the wage rate yearly for all our employees.<br><br>
                        <b>Safe & Comfortable Working Conditions</b>Our manufacturing facility is designed considering the safety and comfort of our workers. We provide ergonomic chairs for all our employees and protective gear which ensures their well-being.<br><br>
                        <b>Transparent Sourcing & Operation</b>We provide all the information regarding the sources of the fabrics used for our garment production on our website. We also provide details about how we operate and what processes a garment goes through during production. Additionally, anyone can freely send us an
                        email at <a href="">info@topanewyork.com</a> if they want to know any information regarding the brand.<br><br>
                </div>
        </div>
<footer></footer>

    <script src={% static "js/nav.js" %}></script>
    <script src={% static "js/footer.js" %}></script>
    </body>
    </html>
