<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About Us </title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href={% static  "img/Topa.png"%}>

        <link rel="stylesheet" href={% static "css/home.css" %}>
        <link rel="stylesheet" href={% static "css/about1.css" %}>

    </head>
    <body>
        <nav class="navbar"></nav>
<article class="cta">
	<img src={% static 'img/fabric.png' %} alt=''>
	<div class="cta__text-column">
		<h2>Sustainability</h2>
		<p><b>DEADSTOCK FABRICS</b> We only use deadstock fabrics to create our collection. Nepal is geographically close to India, China, and Bangladesh, which are among the largest garment producers in the world and the deadstock fabrics of these countries are often passed on to the Nepali market. We utilize these fabrics to produce our designs.<br><br>
            <b>CLEAN, RENEWABLE ENERGY</b> As TŌPA’s manufacturing unit is in Kathmandu, Nepal, our source of electricity is hydropower energy. All of our machines are operated on clean and renewable energy. <br><br>
            <b>LEAN PRODUCTION</b>For every collection, TŌPA produces only a limited number of pieces per design. A lean production model ensures high quality is maintained and excessive number of garments are not produced.<br><br>
            <b>SUSTAINABLE PACKAGING</b> All of TŌPA’s packaging materials are made from bio-degradable materials. Our packaging envelope is made from Lokta paper, which is handmade from the bark and bush of the lokta plant which regenerates every 4 - 5 years.
	</div>
</article>
<footer></footer>
<script src={% static "js/nav.js" %}></script>
<script src={% static "js/footer.js" %}></script>
    </body>
</html>