<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Terms & Services</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href={% static  "img/Topa.png"%}>

        <link rel="stylesheet" href={% static "css/home.css" %}>
        <link rel="stylesheet" href={% static "css/terms.css" %}>

    </head>
    <body>
        <nav class="navbar"></nav>

        <section id="terms-of-service">
            <div class="card">
                <h1 class="primary-heading">Terms & Service</h1>
                <p class="paragraph">
                    This website,<a href="">www.topanewyork.com</a>, is owned and operated by Parbati Deuja Vilasita Private Limited. The terms “we”, “us”, “website” and “our” refer to TŌPANEWYORK, and “you”, “clients” and “client” refer to the user of this website. Please read these terms and conditions (“General Condition of Sale”, “Terms of Service”, “Terms”) to understand the terms and conditions on which we provide our products and services to you. By visiting our website and purchasing any product or service from us, you are indicating that you have read, understood, and agree to be bound by these general conditions of sale. If you do not agree to these general conditions of sale, you are not authorized to access or use our website or services. <br> <br>
                   <div class="h3"><h3>1) Information about us</h3></div>  <p class="paragraph">The website <a href="">www.topanewyork.com</a> is owned by Parbati Deuja Vilasita Private Limited, registered at Ravi Bhawan 14, Kathmandu, Nepal. The company registration number is 279981/078/079, VAT number is 610174917.</p> <br> <br>
                   <div class="h3"><h3> 2) Your Status</h3></div>  <p class="paragraph">By using our website and placing an order on our site, you agree to the following: <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;•	  You are legally capable to enter into a binding contract.  <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;•	  You are purchasing the product and service for personal and non-business use only.<br>
                       &nbsp;&nbsp;&nbsp;&nbsp;•	  Your personal data will be used according to our <a href="privacy.html">Privacy Policy.</a>
                    </p><br><br>
                    <div class="h3"><h3>3) Implementation of Agreement</h3></div> <br><p class="paragraph">3.1)&nbsp;Please read these General Conditions of Sale and all supporting documents listed in this term sheet before placing an order.<br>
                    3.2) &nbsp;You need to be a registered user on our website to make a purchase.<br> 3.3)&nbsp;You can purchase a product by following these steps: <br>
                    &nbsp;&nbsp; &nbsp;&nbsp;I. Selecting a product(s) and adding it to the cart.<br> 
                    &nbsp;&nbsp; &nbsp;&nbsp;II. Proceed to checkout and fill out the relevant forms.<br> 
                    &nbsp;&nbsp; &nbsp;&nbsp;III. Accept the general conditions of sale and the privacy policy.<br> 
                    &nbsp;&nbsp; &nbsp;&nbsp;IV. Make the payment to confirm the order.<br>
                    After completing the above steps, you will receive an order confirmation email from us. You may also receive an email from your payment service provider confirming the order and providing details of the financial transaction.<br>
                    3.4)&nbsp;An order may be refused by us, even if order confirmation has been issued within 30 days. Here are some instances where we may reject an order: <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;I. The selected product is not available.<br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;II. Purchase of the product is reported, suspected to be fraudulent, unethical, or illegal activities.</p><br><br><br>
                    <div class="h3"><h3>4) Availability & Product Information</h3></div><p class="paragraph">4.1)&nbsp;Product information, product code, description, and price are all available on our website.<br>
                        4.2)&nbsp;The product shown on our website may not be in stock, and the product image may not be an accurate representation of the actual product. Therefore, you are advised to read the product description carefully to learn more about the product's features.<br>
                        4.3)&nbsp;The product, its information, and components, such as price, size, style, models, colors, quantities, and type, are subject to change at any time without notice.<br>
                        4.4)&nbsp;If an error occurs because of the failure of the client’s connection to the website, the client is responsible for any damage that may occur. We will not be held liable.
                    </p><br><br>
                    <div class="h3"><h3>5) Shipping & Delivery</h3></div><p class="paragraph">5.1)&nbsp;The delivery date will be communicated to you once your order has been confirmed. The delivery date can only be determined after we have all the relevant information, such as the delivery address and the quantity of the product.<br>
                        5.2)&nbsp;We will not deliver our products to: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;I. P.O Boxes <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;II. Accommodation establishments such as resorts, parks, hotels, airports, and restaurants among others <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;III. Any location we consider inappropriate<br>
                        5.3)&nbsp;Delivery charges will be shown separately on the order form if applicable.<br>
                        5.4)&nbsp;The client must confirm a delivery address for each order, and an invoice will be generated and sent to them based on that address. The delivery address cannot be changed after the invoice has been issued.
                        5.5)&nbsp;After the order confirmation has been issued, the product (excluding pre-ordered items) will be delivered to the customer through our delivery partners within 30 days of the issuing date. If the product has not been delivered within this time frame, the customer should contact us via email and we will grant an additional 15 days for delivery. If the product still has not been delivered after this time, the customer is entitled to a full refund.<br>
                        5.6)&nbsp;After the delivery of the product by our logistics partner, the client or receiving representative should inspect the packaging and its seals to ensure they are intact and undamaged, and then sign the relevant courier document. If any damage is found, you are advised to refuse the package and notify us of the situation. Once the courier document is signed, any complaint regarding the exterior characteristics of the product will not be accepted.<br>
                        5.7)&nbsp;We or our logistics partner or both will email our clients when the product is dispatched and delivered.
                    </p><br><br>

                    <div class="h3"><h3>6) Risk & Title</h3></div>  <p class="paragraph">You will only own the product once we have received full payment for the product, including any additional costs such as shipping.</p> <br> <br>
                    <div class="h3"><h3>7) Shipping & Delivery</h3></div><p class="paragraph">7.1)&nbsp;All sales refunds are subject to our Shipping and Return Policy<br>
                        7.2)&nbsp;Personalized and customized products, such as custom fitting, printing, and engraving custom words, are not eligible for the Shipping and Return Policy.<br>
                        7.3)&nbsp;If a product is returned in accordance with our policy, the refund will be processed within 30 days and the refunded amount will be transferred to the original payment method. The refunded amount will be less any transaction fees charged by our payment gateway providers.<br>
                        7.4)&nbsp;The refund will be returned to the original payment method. If there is a problem refunding the money to the original source, you must work with us to find an alternative way to get the refund.<br>
                        7.5)&nbsp;The product must be returned in the same condition as it was received for both returns and exchanges. We have the right to refuse a refund, exchange, or any other form of compensation if: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;I.The product has been damaged in any way and is not in its original condition when it was received by the customer.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;II. There is evidence of the product being already used (creases, odors, stains) <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;III. The tag of the product is detached<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;IV. Any part of the product is missing or not in its original place <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;V. The packaging materials are missing <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;VI. Documents sent along with the product are returned (invoice, bill, coupons, notes, statement of delivery).
                    </p><br><br>
                    <div class="h3"><h3>8) Payment </h3></div><p class="paragraph">8.1)&nbsp;All of our payment is handled through <a href="https://stripe.com/">Stripe</a><br>
                        8.2)&nbsp;Payment for the product can be made from major payment platforms such as Visa, Mastercard, Apple Pay, Google Pay, and Klarna.<br>
                        8.3)&nbsp;If the amount due by the client cannot be debited due to any reason, the order will not be executed and canceled.
                    </p><br><br>
                    <div class="h3"><h3>9) Written Communications</h3></div>  <p class="paragraph">By using our website, you agree that most communications will be conducted electronically. You also agree that electronic communications sent to you will satisfy any legal requirements for written communication for contractual purposes.</p> <br> <br>
                    <div class="h3"><h3>10) Transfer of Right & Obligation </h3></div><p class="paragraph">10.1)&nbsp;You can only transfer your right and obligation under our agreement with prior written consent.</a><br>
                        10.2)&nbsp;We may transfer or sub-contract any of our rights or obligation at any time during the term of the contract<br>
                        <div class="h3"><h3>11) Right to Amend </h3></div><p class="paragraph">&nbsp;We reserve the right to alter any part of these terms and conditions at any time without prior notice.
                            <div class="h3"><h3>12) Copyright & Trademark</h3></div><p class="paragraph">12.1)&nbsp;All of the rights applicable to the content on our site belong to Parbati Deuja Vilasita Private Limited, registered at Ravi Bhawan - 14, Kathmandu, Nepal. The contents of this website should not be used without the prior permission of Parbati Deuja Vilasita Private Limited.</a><br>
                                12.2)&nbsp;The trademarks and service marks used on this site are the property of Parbati Deuja Vilasita Private Limited and should not be used without proper prior agreement.<br>
                                <div class="h3"><h3>13) Link </h3></div><p class="paragraph">13.1)&nbsp;We have the right to accept or decline any link to our site.</a><br>
                                    13.2)&nbsp;We do not guarantee the content of any site it is linked to and will not bear any responsibility if a link causes damages.<br>
                            </p>
            </div>
        </section>
        <footer>
            <p class="footer-heading">© Copyright 2023-2024 Topa. All rights reserved.</p>
        </footer>
    </body>
    </html>
        <footer></footer>
        <script src={% static "js/nav.js" %}></script>
        <script src={% static "js/footer.js" %}></script>
    </body>
</html>
