/* Basic styling */
.checkout-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.checkout-step {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-right: 20px;
}

.order-summary {
    flex-basis: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.order-summary h2 {
    margin-bottom: 10px;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
}

.order-summary li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.order-summary li span {
    flex: 1;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Adjustments for responsiveness */
@media (max-width: 755px) {
    .checkout-container {
        flex-direction: column;
    }

    .checkout-step,
    .order-summary {
        margin: 10px 0;
        width: 100%;
    }
}