* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  background: black;
}

.heading ul {
  display: flex;
}

.logo a {
  color: white;
  transition-duration: 1s;
  font-weight: 800;
}

.logo a:hover {
  color: rgb(240, 197, 6);
  transition-duration: 1s;
}

.heading ul li {
  list-style: none;
}

.heading ul li a {
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  color: white;
  margin: 2px 14px;
  font-size: 18px;
  transition-duration: 1s;
}

.heading ul li a:active {
  color: red;
}

.heading ul li a:hover {
  color: rgb(243, 168, 7);
  transition-duration: 1s;
}

.heading ul li a::before {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  transition-duration: 1s;
}

.heading ul li a:hover::before {
  width: 100%;
  transition-duration: 1s;
  background-color: rgb(243, 168, 7);
}

#input {
  height: 30px;
  width: 300px;
  text-decoration: none;
  border: 0px;
  padding: 5px;
}

.logo a {
  color: white;
  font-size: 35px;
  font-weight: 500;
  text-decoration: none;
}

ion-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
}

ion-icon:hover {
  cursor: pointer;
}

.search a {
  display: flex;
}

header a ion-icon {
  position: relative;
  right: 3px;
}

.img-slider img {
  height: 720px;
  width: 1080px;
}

@keyframes slide {
  0% {
    left: 0px;
  }

  15% {
    left: 0px;
  }

  20% {
    left: -1080px;
  }

  32% {
    left: -1080px;
  }

  35% {
    left: -2160px;
  }

  47% {
    left: -2160px;
  }

  50% {
    left: -3240px;
  }

  63% {
    left: -3240px;
  }

  66% {
    left: -4320px;
  }

  79% {
    left: -4320px;
  }

  82% {
    left: -5400px;
  }

  100% {
    left: 0px;
  }
}

.heading1 {
  opacity: 0;
}

.search {
  display: flex;
  position: relative;
}

.section1 {
  width: 1080px;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.section2 .container {
  display: flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}

.section2 .container .items {
  margin: 10px;
  width: 350px;
  height: 650px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
}

.section2 .container .items .name {
  text-align: center;
  background-color: rgb(0, 0, 0);
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
}

.section2 .container .items .price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 650;
}

.section2 .container .items .info {
  padding-left: 10px;
  color: rgb(0, 0, 0);
}

.section2 .container .items .img img {
  width: 350px;
  height: 500px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}

.section2 .container .items .img {
  overflow: hidden;
  margin: 0;
}

.section2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}

.menu {
  visibility: hidden;
}

.heading1 .ham:active {
  color: rgb(0, 0, 0);
}

.items {
  overflow: hidden;
}

.ham,
.close {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .heading ul li {
    display: none;
  }

  .items {
    transform: scale(0.9);
  }

  .img-slider img {
    height: 60vw;
    width: 80vw;
  }

  .ham:active {
    color: red;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu a ion-icon {
    position: absolute;
  }

  @keyframes slide1 {
    0% {
      left: 0vw;
    }

    15% {
      left: 0vw;
    }

    20% {
      left: -80vw;
    }

    32% {
      left: -80vw;
    }

    35% {
      left: -160vw;
    }

    47% {
      left: -160vw;
    }

    50% {
      left: -240vw;
    }

    63% {
      left: -240vw;
    }

    66% {
      left: -320vw;
    }

    79% {
      left: -320vw;
    }

    82% {
      left: -400vw;
    }

    100% {
      left: 0vw;
    }
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 11;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .close {
    z-index: 34;

    color: white;
    background-color: black;
  }

  .close:active {
    color: red;
  }

  .menu ul li {
    list-style: none;
    margin: 20px;
    border-top: 3px solid white;
    width: 80%;
    text-align: center;

    padding-top: 10px;
  }

  .menu ul li a {
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-weight: 900;
  }

  .menu ul li a:hover {
    color: rgb(240, 197, 6);
  }

  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 80%;
    height: 60%;
    animation-name: slide1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }

  .section1 {
    width: 80%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .heading1 {
    opacity: 1;
    position: relative;
    bottom: 8px;
  }

}

.button {
  --background: #000000;
  --text: #fff;
  --cart: #fff;
  --tick: var(--background);
  position: relative;
  border: none;
  background: none;
  padding: 10px 10px;
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  color: var(--text);
  background: var(--background);
  transform: scale(var(--scale, 1));
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}

.button:active {
  --scale: 0.95;
}

.button span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform 0.7s ease;
}

.button span:before,
.button span:after {
  content: '';
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  transition: transform 0.65s ease 0.05s;
}

.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}

.button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}

.button .cart:before,
.button .cart:after {
  content: '';
  position: absolute;
}

.button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 var(--cart));
}

.button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}

.button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.button.loading {
  --scale: 0.95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: 0.8s;
  --offset: 0;
  --offset-d: 1.73s;
}

.button.loading .cart {
  animation: cart 3.4s linear forwards 0.2s;
}

@keyframes cart {
  12.5% {
    transform: translateX(-60px) rotate(-18deg);
  }

  25%,
  45%,
  55%,
  75% {
    transform: none;
  }

  50% {
    transform: scale(0.9);
  }

  44%,
  56% {
    transform-origin: 12px 23px;
  }

  45%,
  55% {
    transform-origin: 50% 50%;
  }

  87.5% {
    transform: translateX(70px) rotate(-18deg);
  }

  100% {
    transform: translateX(140px) rotate(-18deg);
  }
}

body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://as2.ftcdn.net/jpg/03/40/89/05/240_F_340890588_UFZEzlk2xCXYeMCs4n3yP6x4AVPWyzkI.jpg");

  /* Set a specific height */
  height: 80%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 80%;
}

.container img {
  width: 100%;
  height: 100%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: hwb(0 100% 0% / 0.719);
  color: rgb(0, 0, 0);
  font-size: 80px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: 'Bangers';
}

.container .btn:hover {
  background-color: rgba(180, 180, 180, 0.678);
}

.exhibit-container {
  max-width: 1300px;
  margin: 0 auto;
}

.category {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1.5rem, auto);
  grid-gap: 1rem;
  align-content: flex-start;
  justify-items: left;
}

.category-current {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  cursor: default;
}

.category-filter {
  width: 90%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: left;
}

.category-select {
  width: 12rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-color: #aaa;
  font-family: inherit;
  color: #444;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.category-select:focus {
  outline: none;
}

.product-list {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 25px;
}

.product-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.picture-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.picture-wearing-look {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.product-wrapper:hover .picture-wearing-look {
  opacity: 1;
}

.add-favorite {
  position: absolute;
  z-index: 5;
  top: 5%;
  right: 5%;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #666;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.add-favorite:hover {
  color: #323232;
}

.product-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.product-wrapper:hover .product-info {
  color: rgb(18, 137, 235);
}

.product-description {
  margin: 0.1rem;
  text-transform: capitalize;
}

.product-price {
  font-weight: 500;
}

/* ----- pagination ----- */
.pagination {
  width: 100%;
  margin: 5px auto 20px;
  text-align: center;
  cursor: default;
}

/* ----- banner ----- */
.banner {
  width: 100%;
  padding: 0 2rem;
  background-color: #ededed;
}

.banner-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  position: absolute;
  bottom: -30px;
  width: 100%;
  object-fit: contain;
}

.banner-info {
  position: relative;
  z-index: 5;
  width: 60%;
  padding-bottom: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.8rem;
  font-size: 0.9rem;
  cursor: default;
}

.banner-info h3 {
  font-size: 1rem;
  line-height: 1.2;
}

.banner-info a {
  text-decoration: underline;
}

.quick-sign-up-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  width: 50%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 100px 0 0 100px;
}

.submit-quick-sign-up {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0 100px 100px 0;
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

.email-input:focus,
.submit-quick-sign-up:focus {
  outline: none;
}

.submit-quick-sign-up:hover {
  opacity: 0.9;
}

.submit-quick-sign-up:active {
  opacity: 0.8;
}